header {
    background-color: black;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    position: fixed;
    z-index: 10;
}

header img {
    align-self: center;
    justify-self: center;
}