.content_holder {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    height: 120vh;
    position: relative;
    top: 80px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content img {
    position: absolute;
    top: 20%;
    z-index: 3;
}