.light_column {
    position: relative;
}

.light_column .color_column {
    position: absolute;
    height: 100%;
    width: 100%;
}

.light_column .white_column {
    position: absolute;
    height: 100%;
    width: 100%;
}