.skill_icon {
    height: 120px;
    width: 120px;
    background-color: #EEEEEE;
    display: grid;
    grid-template-rows: 90px 30px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 10px 10px 0px 10px;
    z-index: 7;
}

.skill_icon div {
    height: 100%;
    width: 100%;
    position: relative;
}

.skill_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill_icon p {
    text-align: center;
}